*{
    margin: 0;
    padding: 0;
}

.info{
    margin-top: 50px;
    margin-left: 20px;
}

.icon{
    height: 100px;
    position: relative;
    margin-top: 50px;
    padding-left: 20px;
}

.top{
    background-color: rgb(23, 162, 184);
    height: 100px;
}

.card{
    border: solid black;
    margin: 50px;
    height: 500px
}

.pin{
    height: 20px;
    margin-right: 10px;
}

.gear{
    height: 20px;
    margin-right: 10px;
}
